<main>
  <section class="slider element">
    <div class="swiper swiper-js">
      <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {{ range .Site.RegularPages }}
          <div class="swiper-slide md:h-[580px] bg-gradient-to-br md:bg-gradient-to-r {{ .Params.bg }} flex flex-col md:flex-row justify-center pt-12 px-4 m-0 font-raleway">
            <div class="relative my-8 md:w-6/12 md:px-11 text-white md:text-6xl font-black text-4xl md:py-6">
              {{ .Content }}
              <div class="flex flex-col md:flex-row text-devoglas-main font-black text-3xl my-8 gap-5">
                <a href="{{ .Params.href_1 }}" class="{{ .Params.btn_bg_1 }} text-center p-2">{{ .Params.btn_text_1 }}</a>
                {{ if (isset .Params "btn_text_2") }}
                  <a href="{{ .Params.href_2 }}" class="{{ .Params.btn_bg_2 }} text-center p-2">{{ .Params.btn_text_2 }}</a>
                {{ end }}
              </div>
            </div>
            
            <figure class="bg-gray-400 md:w-5/12 h-[390px] md:m-12">
              <img class="object-cover w-full h-full" src="{{ .Params.img }}" alt="Placeholder">
            </figure>
            <div class="py-10"></div>
          </div>
          {{ end }}
        </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
