    <footer>
        <div class="bg-devoglas-main font-raleway pb-6">
            <div class="flex flex-col md:flex-row flex-wrap items-center md:justify-around md:gap-9">
                <figure>
                    <img class="my-14 md:my-auto" src="images/white-logo.svg" alt="Devoglas-logo">
                </figure>

                <a class="md:w-auto my-2 flex items-center justify-center gap-6" title="LinkedIn" href="https://linkedin.com" target="_blank" rel="noopener">
                    <div class="text-white py-2 font-extrabold text-xl">
                        FOLLOW US
                    </div>
                    <div class="text-[#000048] w-12 h-12 overflow-hidden flex items-center justify-center bg-white rounded-full">
                        <span class="fa fa-linkedin text-xl"></span>
                    </div>
                    <div class="hidden md:block text-white w-12 h-12 overflow-hidden items-center justify-center border-r-2">
                    </div>
                </a>

                <div class="flex flex-col md:flex-row w-8/12 md:w-auto my-8 gap-8 items-center justify-center">
                    <a class="transition-none text-white text-xl font-extrabold px-4 py-4 hover:border-b-2 border-[#0BBDE6] hover:-mb-1" href="#howwework">HOW WE WORK</a>

                    <a class="transition-none text-white text-xl font-extrabold px-4 py-4 hover:border-b-2 border-[#0BBDE6] hover:-mb-1" href="#insights">OUR INSIGHTS</a>

                    <a class="transition-none text-white text-xl font-extrabold px-4 py-4 hover:border-b-2 border-[#0BBDE6] hover:-mb-1" href="#aboutus">ABOUT US</a>

                    <a class="transition-none text-devoglas-main text-xl font-extrabold bg-[#0BBDE6] px-4 py-4" href="#contactus">CONTACT US</a>
                </div>

            </div>


            <p class="text-white text-center mt-1 md:pl-[4%] md:font-thin md:text-sm text-xl font-bold">
                Copyright &copy; 2022 Devoglas. All rights reserved
            </p>
        </div>
    </footer>
  </body>
</html>