@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color:#0BDBCA !important;
    border: 2px solid #0BDBCA !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    width: 20px !important;
    height: 20px !important;
    margin-right: 40px !important;
    margin-left: 30px !important;
}


.swiper-pagination-bullet {
    background-color: white !important;
    border: 2px solid #4093D7 !important;
    opacity: 0.5 !important;
    border-radius: 0 !important;
    width: 20px !important;
    height: 20px !important;
    margin-right: 40px !important;
    margin-left: 30px !important;
}