@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
! tailwindcss v3.1.8 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.invisible{
  visibility: hidden !important;
}

.absolute{
  position: absolute !important;
}

.relative{
  position: relative !important;
}

.top-7{
  top: 1.75rem !important;
}

.right-6{
  right: 1.5rem !important;
}

.z-10{
  z-index: 10 !important;
}

.z-0{
  z-index: 0 !important;
}

.m-0{
  margin: 0px !important;
}

.my-14{
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.my-2{
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-8{
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-0{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.my-12{
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-4{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-1{
  margin-top: 0.25rem !important;
}

.mb-4{
  margin-bottom: 1rem !important;
}

.mb-12{
  margin-bottom: 3rem !important;
}

.mt-20{
  margin-top: 5rem !important;
}

.mb-24{
  margin-bottom: 6rem !important;
}

.mt-8{
  margin-top: 2rem !important;
}

.mb-20{
  margin-bottom: 5rem !important;
}

.mb-16{
  margin-bottom: 4rem !important;
}

.box-border{
  box-sizing: border-box !important;
}

.flex{
  display: flex !important;
}

.grid{
  display: grid !important;
}

.hidden{
  display: none !important;
}

.h-12{
  height: 3rem !important;
}

.h-\[345px\]{
  height: 345px !important;
}

.h-\[406px\]{
  height: 406px !important;
}

.h-\[325px\]{
  height: 325px !important;
}

.h-\[400px\]{
  height: 400px !important;
}

.h-\[390px\]{
  height: 390px !important;
}

.h-full{
  height: 100% !important;
}

.w-12{
  width: 3rem !important;
}

.w-8\/12{
  width: 66.666667% !important;
}

.w-11\/12{
  width: 91.666667% !important;
}

.w-\[400px\]{
  width: 400px !important;
}

.w-full{
  width: 100% !important;
}

.-translate-y-20{
  --tw-translate-y: -5rem !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.select-none{
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.flex-col{
  flex-direction: column !important;
}

.flex-wrap{
  flex-wrap: wrap !important;
}

.items-center{
  align-items: center !important;
}

.justify-center{
  justify-content: center !important;
}

.gap-6{
  gap: 1.5rem !important;
}

.gap-8{
  gap: 2rem !important;
}

.gap-5{
  gap: 1.25rem !important;
}

.gap-x-40{
  -moz-column-gap: 10rem !important;
       column-gap: 10rem !important;
}

.gap-x-8{
  -moz-column-gap: 2rem !important;
       column-gap: 2rem !important;
}

.gap-x-12{
  -moz-column-gap: 3rem !important;
       column-gap: 3rem !important;
}

.gap-x-2{
  -moz-column-gap: 0.5rem !important;
       column-gap: 0.5rem !important;
}

.gap-y-8{
  row-gap: 2rem !important;
}

.overflow-hidden{
  overflow: hidden !important;
}

.rounded-full{
  border-radius: 9999px !important;
}

.border{
  border-width: 1px !important;
}

.border-r-2{
  border-right-width: 2px !important;
}

.border-\[\#0BBDE6\]{
  --tw-border-opacity: 1 !important;
  border-color: rgb(11 189 230 / var(--tw-border-opacity)) !important;
}

.bg-devoglas-main{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 0 72 / var(--tw-bg-opacity)) !important;
}

.bg-white{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.bg-\[\#0BBDE6\]{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(11 189 230 / var(--tw-bg-opacity)) !important;
}

.bg-gray-400{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity)) !important;
}

.bg-\[\#f6f6f6\]{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity)) !important;
}

.bg-gradient-to-br{
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops)) !important;
}

.from-\[\#120169\]{
  --tw-gradient-from: #120169 !important;
  --tw-gradient-to: rgb(18 1 105 / 0) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}

.from-\[\#0079DB\]{
  --tw-gradient-from: #0079DB !important;
  --tw-gradient-to: rgb(0 121 219 / 0) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}

.to-\[\#0BDBCA\]{
  --tw-gradient-to: #0BDBCA !important;
}

.to-\[\#0079DB\]{
  --tw-gradient-to: #0079DB !important;
}

.to-\[\#0BBDE6\]{
  --tw-gradient-to: #0BBDE6 !important;
}

.object-cover{
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.p-10{
  padding: 2.5rem !important;
}

.p-2{
  padding: 0.5rem !important;
}

.py-2{
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.px-4{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-4{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-8{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.py-1{
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px-10{
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.py-10{
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.py-16{
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.px-8{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.pb-6{
  padding-bottom: 1.5rem !important;
}

.pt-12{
  padding-top: 3rem !important;
}

.pt-6{
  padding-top: 1.5rem !important;
}

.pt-4{
  padding-top: 1rem !important;
}

.pt-10{
  padding-top: 2.5rem !important;
}

.pt-24{
  padding-top: 6rem !important;
}

.pt-28{
  padding-top: 7rem !important;
}

.text-center{
  text-align: center !important;
}

.font-raleway{
  font-family: Raleway !important;
}

.text-xl{
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.text-4xl{
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
}

.text-2xl{
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.text-3xl{
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

.text-lg{
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

.font-extrabold{
  font-weight: 800 !important;
}

.font-bold{
  font-weight: 700 !important;
}

.font-black{
  font-weight: 900 !important;
}

.text-white{
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.text-\[\#000048\]{
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 72 / var(--tw-text-opacity)) !important;
}

.text-devoglas-main{
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 72 / var(--tw-text-opacity)) !important;
}

.text-devoglas-third{
  --tw-text-opacity: 1 !important;
  color: rgb(52 58 64 / var(--tw-text-opacity)) !important;
}

.text-devoglas-second{
  --tw-text-opacity: 1 !important;
  color: rgb(11 74 230 / var(--tw-text-opacity)) !important;
}

.shadow-xl{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.transition-none{
  transition-property: none !important;
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.duration-200{
  transition-duration: 200ms !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color:#0BDBCA !important;
  border: 2px solid #0BDBCA !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 40px !important;
  margin-left: 30px !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  border: 2px solid #4093D7 !important;
  opacity: 0.5 !important;
  border-radius: 0 !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 40px !important;
  margin-left: 30px !important;
}

.first-line\:marker\:bg-white *::first-line::marker{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.first-line\:marker\:bg-white::first-line::marker{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.hover\:-mb-1:hover{
  margin-bottom: -0.25rem !important;
}

.hover\:border-b-2:hover{
  border-bottom-width: 2px !important;
}

.hover\:bg-devoglas-second:hover{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(11 74 230 / var(--tw-bg-opacity)) !important;
}

.hover\:shadow-md:hover{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.group:hover .group-hover\:visible{
  visibility: visible !important;
}

.group:hover .group-hover\:-translate-y-20{
  --tw-translate-y: -5rem !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.group:hover .group-hover\:text-white{
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

@media (min-width: 768px){
  .md\:invisible{
    visibility: hidden !important;
  }

  .md\:m-12{
    margin: 3rem !important;
  }

  .md\:my-auto{
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  .md\:mx-20{
    margin-left: 5rem !important;
    margin-right: 5rem !important;
  }

  .md\:my-16{
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }

  .md\:my-20{
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .md\:mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .md\:mb-0{
    margin-bottom: 0px !important;
  }

  .md\:mb-auto{
    margin-bottom: auto !important;
  }

  .md\:mr-8{
    margin-right: 2rem !important;
  }

  .md\:mt-2{
    margin-top: 0.5rem !important;
  }

  .md\:mb-20{
    margin-bottom: 5rem !important;
  }

  .md\:block{
    display: block !important;
  }

  .md\:flex{
    display: flex !important;
  }

  .md\:grid{
    display: grid !important;
  }

  .md\:hidden{
    display: none !important;
  }

  .md\:h-\[580px\]{
    height: 580px !important;
  }

  .md\:w-auto{
    width: auto !important;
  }

  .md\:w-\[400px\]{
    width: 400px !important;
  }

  .md\:w-\[380px\]{
    width: 380px !important;
  }

  .md\:w-6\/12{
    width: 50% !important;
  }

  .md\:w-5\/12{
    width: 41.666667% !important;
  }

  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .md\:flex-row{
    flex-direction: row !important;
  }

  .md\:flex-col{
    flex-direction: column !important;
  }

  .md\:items-center{
    align-items: center !important;
  }

  .md\:items-baseline{
    align-items: baseline !important;
  }

  .md\:justify-center{
    justify-content: center !important;
  }

  .md\:justify-between{
    justify-content: space-between !important;
  }

  .md\:justify-around{
    justify-content: space-around !important;
  }

  .md\:justify-evenly{
    justify-content: space-evenly !important;
  }

  .md\:gap-9{
    gap: 2.25rem !important;
  }

  .md\:gap-6{
    gap: 1.5rem !important;
  }

  .md\:bg-gray-400{
    --tw-bg-opacity: 1 !important;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity)) !important;
  }

  .md\:bg-gradient-to-r{
    background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
  }

  .md\:py-3{
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }

  .md\:py-2{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .md\:px-20{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .md\:px-11{
    padding-left: 2.75rem !important;
    padding-right: 2.75rem !important;
  }

  .md\:py-6{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .md\:pl-\[4\%\]{
    padding-left: 4% !important;
  }

  .md\:pt-6{
    padding-top: 1.5rem !important;
  }

  .md\:pt-4{
    padding-top: 1rem !important;
  }

  .md\:pb-8{
    padding-bottom: 2rem !important;
  }

  .md\:text-sm{
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }

  .md\:text-xl{
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }

  .md\:text-6xl{
    font-size: 3.75rem !important;
    line-height: 1 !important;
  }

  .md\:text-3xl{
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
  }

  .md\:font-thin{
    font-weight: 100 !important;
  }

  .md\:font-black{
    font-weight: 900 !important;
  }

  .md\:uppercase{
    text-transform: uppercase !important;
  }
}